::-webkit-scrollbar {
  display: none;
}

* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  max-width: 1440px;
  height: 100%;
}
.header {
  margin-top: 40px;
  margin-bottom: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-logo {
  font-size: 40px;
  text-transform: uppercase;
  color: #333333;
}

.heder-data,
.header-time {
  text-transform: uppercase;
  font-size: 18px;
  margin-right: 8px;
  vertical-align: middle;
  color: #930101b0;
}
.header-data-data,
.header-data-time {
  font-size: 16px;
  margin-right: 16px;
}

.new-item {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  /* margin-left: 100px; */
  margin-bottom: 26px;
  /* margin-top: 26px; */
  cursor: pointer;
}

.myInput {
  padding: 8px 16px;
  margin-right: 5px;
  width: 504px;
  height: auto;
  outline: none;
  font-size: 16px;
  border: none;
  border-radius: 3px;
}

.myInput::placeholder {
  font-size: 12px;
  color: #c3c3c3;
  width: auto;
}

.btn {
  padding: 8px 16px;
  width: 100px;
  height: auto;
  border-radius: 3px;
  border: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  color: #ffffff;
  background-color: #930101b0;
  cursor: pointer;
}
.btn:hover {
  transition: all 0.5s;
  background-color: #930101;
}
.btn:focus {
  border: none;
}

.main-container {
  transform: translateY(150px);
  top: 0;
  position: absolute;
  z-index: 2;
  margin-left: 100px;
}
.img-container {
  background-image: url("./img/andrew-neel-cckf4TsHAuw-unsplash.jpg");
  position: relative;
  height: 100%;
  opacity: 0.6;
  border-radius: 3px;
  overflow: hidden;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.item {
  display: flex;
  padding: 5px;
  /* margin-left: 172px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #930101;
}

.input-controller {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}
.text {
  width: 504px;
  /* width: 100%; */
  /* height: 28px; */
  /* padding: 5px; */
  display: block;
  background-color: transparent;
  border: 1px solid transparent;
  /* resize: none; */
  font-size: 16px;
  outline: none;
  transition: all 0.2s;
  color: #333333;
  overflow: hidden;
  /* line-height: 1.2; */
}
.text:focus {
  background-color: #ffffff5b;
  border: 1px solid transparent;
  border-radius: 3px;
}

.edit-controller {
  display: flex;
  gap: 20px;
  align-items: center;
  /* justify-content: space-between; */
}
.delete-button {
  width: 18px;
  height: 18px;
  padding: 2px;
  background-image: url(img/icons/320632131667326703.svg);

  background-size: cover;
  cursor: pointer;
  background-repeat: no-repeat;
  border: none;
  display: inline-block;
}
.delete-button:hover {
  opacity: 0.7;
}

.edit-button {
  width: 18px;
  height: 18px;
  padding: 2px;
  background-image: url(img/icons/20763406381571662156.svg);
  background-size: cover;
  cursor: pointer;
  background-repeat: no-repeat;
  border: none;
  display: inline-block;
}
.edit-button:hover {
  opacity: 0.7;
}
.submit-button {
  width: 18px;
  height: 18px;
  padding: 2px;
  background-image: url(img/icons/5759056751663771569.svg);
  background-size: cover;
  cursor: pointer;
  background-repeat: no-repeat;
  border: none;
  display: inline-block;
}
.submit-button:hover {
  opacity: 0.7;
}
.item-name {
  font-size: 14px;
  line-height: 1.5;
  text-overflow: ellipsis;
  word-wrap: break-word;
  display: block;
}

.active {
  display: none;
}

@media (max-width: 770px) {
  .header-logo {
    font-size: 30px;
  }
  .main-container {
    width: 80%;
    margin-left: 20px;
  }
  .delete-button,
  .edit-button,
  .submit-button {
    width: 16px;
  }
  .new-item {
    width: 90%;
  }
  .to-do-container {
    width: 90%;
    margin: 0;
  }

  .input-controller {
    width: 90%;
  }
  .text {
    font-size: 14px;
  }
  .heder-data,
  .header-time {
    font-size: 14px;
    margin-right: 5px;
  }
  .header-data-data,
  .header-data-time {
    font-size: 14px;
    margin-right: 10px;
  }
}

@media (max-width: 570px) {
  .header-logo {
    font-size: 25px;
  }
  .main-container {
    width: 70%;
  }
  .to-do-container {
    width: 80%;
    margin: 0;
  }
}
